<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Página inicial</a></li>
                <li><a href="/fornecedores">Tornar-se Fornecedor</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/transacoes">Transações</a></li>
                <li><a href="/cadastrarEmpresa">Cadastre sua empresa</a></li>
            </ul>
        </nav>
    </header>
    <main>    
        <h2>Editar Fornecedor</h2>
        <form action="/editarFornecedor" method="POST">
        <label for="fornecedor">Escolha um fornecedor para editar:</label>
        <select name="nome" id="fornecedor" required>
            <option value="">Selecione o fornecedor</option>
            {{#each fornecedores}}
                <option value="{{this.nome}}" {{#if (eq this.nome fornecedor.nome)}}selected{{/if}}>{{this.nome}}</option>
            {{/each}}
        </select>

            <label for="novoNome">Novo nome:</label>
            <input type="text" name="novoNome" id="novoNome" value="{{fornecedor.nome}}" required><br><br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{fornecedor.email}}" required><br><br>

            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" value="{{fornecedor.telefone}}" required><br><br>

            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco" value="{{fornecedor.endereco}}" required><br><br>

            <label for="senha">Senha da empresa:</label>
            <input type="password" name="senha" id="senha" required><br><br>

            <button type="submit">Salvar alterações</button>

        </form>
        <a href="/fornecedores">Cancelar</a>

    </main>
</body>
